#content .fullwidth.content-area {
	float: none;
	margin: 0;
	max-width: $size__site-main;

	.hentry {
		margin: 0;
	}

	.site-main {
		margin: 0;
	}

	.site-main .comment-navigation,
	.site-main .paging-navigation,
	.site-main .post-navigation {
		margin: 0 0 1.5em 0;
		overflow: hidden;
	}
}
